Repository Unofficial-Devry-IT/DevryCommunity, pull requests merged in 2021-08, with the labels that each got.

#16 Updated invite url in discordsettings.json
  DevryBot/Data/Configs/DiscordSettings.json
Labels: enhancement

#20 Challenge apis
  ChallengeAssistant/ChallengeAssistant.csproj
  ChallengeAssistant/Interfaces/IChallengeApi.cs
  ChallengeAssistant/Models/QuizApiQuestion.cs
  ChallengeAssistant/Program.cs
  ChallengeAssistant/ServiceCollectionExtensions.cs
  ChallengeAssistant/Services/QuizApiService.cs
  DevryBot/Bot.cs
  DevryBot/Data/Configs/ChallengeApis.json
  DevryBot/Data/Configs/ChallengeSettings.json
  DevryBot/DevryBot.csproj
  DevryBot/Discord/Attributes/InteractionNameAttribute.cs
  DevryBot/Discord/Extensions/InteractionExtensions.cs
  DevryBot/Discord/IInteractionHandler.cs
  DevryBot/Discord/InteractionConstants.cs
  DevryBot/Discord/Interactions/ChallengeActionInteractionHandler.cs
  DevryBot/Discord/Interactions/LectureInviteInteraction.cs
  DevryBot/Discord/SlashCommands/Admin/CreateChallengeActionBar.cs
  DevryBot/Discord/SlashCommands/Gamification/ViewStats.cs
  DevryBot/Migrations/20210807154509_gamification.cs
  DevryBot/Migrations/20210807185808_gamification_update_1.cs
  DevryBot/Migrations/ApplicationDbContextModelSnapshot.cs
  DevryBot/Options/ChallengeOptions.cs
  DevryBot/Services/GamificationService.cs
  DevryBot/Services/IGamificationService.cs
  DevryBot/Startup.cs
  DevryDomain/Models/Challenge.cs
  DevryDomain/Models/ChallengeResponse.cs
  DevryDomain/Models/GamificationCategory.cs
  DevryDomain/Models/GamificationEntry.cs
  DevryInfrastructure/Persistence/ApplicationDbContext.cs
  DevryInfrastructure/Persistence/IApplicationDbContext.cs
  DevryServiceBot.sln
Labels: enhancement, Bot Command, Database, Feature

#22 Challenge Creation Update
  ChallengeAssistant/ChallengeAssistant.csproj
  ChallengeAssistant/Interfaces/IChallengeParser.cs
  ChallengeAssistant/Models/ChallengeConfig.cs
  ChallengeAssistant/Program.cs
  ChallengeAssistant/ServiceCollectionExtensions.cs
  ChallengeAssistant/Services/ChallengeParserService.cs
  DevryBot/Bot.cs
  DevryBot/Data/Configs/ChallengeSettings.json
  DevryBot/Discord/IInteractionHandler.cs
  DevryBot/Discord/InteractionConstants.cs
  DevryBot/Discord/Interactions/ChallengeActionInteractionHandler.cs
  DevryBot/Discord/Interactions/ChallengeDeleteHandler.cs
  DevryBot/Discord/Interactions/LectureInviteInteraction.cs
  DevryBot/Discord/SlashCommands/Challenges/CreateChallengeActionBar.cs
  DevryBot/Discord/SlashCommands/Challenges/ViewChallenges.cs
  DevryBot/Options/ChallengeOptions.cs
  DevryBot/Options/DiscordOptions.cs
  DevryBot/Services/GamificationService.cs
  DevryBot/Services/IGamificationService.cs
Labels: enhancement, Bot Command, Feature

#23 Fixed: Interaction Id Issue for challenges
  DevryBot/Discord/Interactions/ChallengeActionInteractionHandler.cs
  DevryBot/Discord/SlashCommands/Gamification/ManualReward.cs
  DevryBot/Services/GamificationService.cs
  DevryBot/Services/IGamificationService.cs
Labels: bug, Bot Command
